@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.btn-primary {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    background: #F15B22;
    border: none;
}

.btn-secondary {
    width: 170.106px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background: #FFF;
}

.header {
    background-image: url('../images/banner/banner1.png');
    width: 100%;
    background-size: cover;
    height: 808px;
    margin-bottom: 140px;
}

.header-info {
    /* padding: 210px 230px 360px 0px; */
    display: flex;
    justify-content: right;
    padding: 216px 230px 0 0;

}

.header-text {
    max-width: 525px;
}

.header-title,
.header-description,
.btn-primary {
    margin-bottom: 20px;
}

.header-title {

    font-size: 65px;
    font-weight: 700;
    color: #151414;
}

.profile-details {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 140px 0 140px 0;
}

.profile-text,
.my-plan-title {
    max-width: 416px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.profile-description {
    max-width: 416px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
    margin-bottom: 8px;
}

/* main section  */
main {
    padding: 0 230px 0 230px;
}

.tik-mark {
    color: lightgreen;
}

.profile-text,
.profile-description,
.list {
    padding-bottom: 20px;
}

/* my plan section */
/* .my-plan-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
} */
.plan-header {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.plan-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.skill-img {
    width: 92.958px;
    height: 92.958px;
}

.plan-header {
    margin-bottom: 55px;
}

.skill-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.skill-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}